﻿﻿@{
	ViewData["Title"] = "Index";
}

@model List<MovieVM>
﻿@{
	ViewData["Title"] = "Index";
}
<div class="container-fluid">
	<div class="container">
		<div class="d-flex justify-content-end mb-3">  @Html.ActionLink("Add", "Create", "Movies", null, new { @class = "btn btn-primary" })</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Thumbnail</th>
					<th scope="col">Title</th>
					<th scope="col">Genre</th>
					<th scope="col">Duration</th>
					<th scope="col">Director</th>
					<th scope="col">Release Date</th>
					<th scope="col">Operation</th>
				</tr>
			</thead>

			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<th scope="row">@item.Id</th>
						<td><img width="120px" height="180px" src="@Url.Content($"~/Images/{item.Thumbnail}")" /></td>
						<td>@item.Title</td>
						<td>@item.Genre</td>
						<td>@item.Duration</td>
						<td>@item.Director</td>
						<td>@item.ReleaseDate</td>
						<td>
							<a class="btn btn-warning" asp-area="admin" asp-controller="Movies" asp-action="Edit" asp-route-id="@item.Id">
								<i class="far fa-pen-to-square"></i>

							</a>
							<a class="btn btn-danger" asp-area="admin" asp-controller="Movies" asp-action="Delete" asp-route-id="@item.Id">
								<i class="fas fa-trash-can"></i>
							</a>
						</td>
					</tr>
				}


			</tbody>
		</table>

	</div>
</div>
